# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules


# testing
/coverage

npm-debug.log
/config.development.json
/static/icons

# OSX
#
.DS_Store
